In [88]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools as it

In [89]:
data = pd.read_csv('movie_bd_v5.csv') 
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1020,tt1800741,33000000,140470746,Step Up Revolution,Kathryn McCormick|Ryan Guzman|Stephen Boss|Meg...,Scott Speer,One Step Can Change Your World,Emily arrives in Miami with aspirations to bec...,99,Music|Drama|Romance,Summit Entertainment,7/26/2012,6.6,2012
908,tt0277296,60000000,165333180,The Scorpion King,Dwayne Johnson|Kelly Hu|Michael Clarke Duncan|...,Chuck Russell,Warrior. Legend. King.,"In ancient Egypt, peasant Mathayus is hired to...",92,Action|Fantasy|Adventure,Universal Pictures|Kalima Productions GmbH & C...,4/16/2002,5.2,2002
904,tt0288477,35000000,68349884,Ghost Ship,Gabriel Byrne|Julianna Margulies|Desmond Harri...,Steve Beck,Sea Evil,After discovering a passenger ship missing sin...,91,Horror|Mystery|Thriller,Village Roadshow Pictures|NPV Entertainment|Da...,10/25/2002,5.2,2002
1033,tt1656186,35000000,2106557,Stolen,Nicolas Cage|Malin Ã…kerman|Josh Lucas|Sami Ga...,Simon West,Never steal from the world's greatest thief.,A former thief frantically searches for his mi...,96,Action|Crime|Drama|Thriller,Saturn Films|Nu Image Films|Millennium Films,5/17/2012,5.1,2012
860,tt1702443,13000000,98441954,Justin Bieber: Never Say Never,Justin Bieber|Miley Cyrus|Usher Raymond|Jaden ...,Jon M. Chu,Find out what's possible if you never give up.,"Tells the story of Justin Bieber, the kid from...",105,Documentary|Music|Family,Insurge Pictures|Magical Elves Productions|Sco...,2/11/2011,5.3,2011

In [90]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [91]:
answers = {} # создадим словарь для ответов

# Создадим дополнительную колонку с расчетом прибыли profit = revenue - budget
data['profit'] = data['revenue']-data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [92]:
answers['1'] = '4. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # + 
# если ответили верно, можете добавить комментарий со значком "+"

In [93]:
data[data['budget'] == data['budget'].max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [94]:
# Способ с помощью функции query
data.query('budget==budget.max()').original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

In [95]:
# проверка
data[data['original_title'] == 'Pirates of the Caribbean: On Stranger Tides']

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

In [96]:
# проверка
data['budget'].max()

380000000

# 2. Какой из фильмов самый длительный (в минутах)?

In [97]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)' #+
data[data['runtime'] == data['runtime'].max()]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [98]:
answers['3'] = '3. Winnie the Pooh (tt1449283)' #+

data[data['runtime'] == data['runtime'].min()]['original_title']
# или data[data.runtime == data.runtime.min()]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [99]:
answers['4'] = '2. 110' #+
round(data['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [100]:
answers['5'] = '1. 107' #+
round(data['runtime'].median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [101]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)' #+

data[data['profit'] == data['profit'].max()]['original_title']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [102]:
answers['7'] = '5. The Lone Ranger (tt1210819)' #+

data[data['profit'] == data['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [103]:
answers['8'] = '1. 1478' #+
data[data['revenue'] > data['budget']]['original_title'].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [104]:
# Cоздадим отдельный дейтасет по фильмам 2008 года, и уже в нем найдем фильм с максимальным revenue(самый кассовый) 
answers['9'] = '4. The Dark Knight (tt0468569)' #+
data_2008 = data[(data['release_year'] == 2008)]
data_2008[data_2008['revenue'] == data_2008['revenue'].max()]['original_title']

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [105]:
answers['10'] = '5. The Lone Ranger (tt1210819)' #+
data_10 = data.copy() 
data_10 = data_10[(data_10['release_year'] > 2012) & (data_10['release_year'] <= 2014)]
data_10[data_10['profit'] == data_10['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [106]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama' #+

most_popular_genres = data.copy()
most_popular_genres['genres'] = most_popular_genres['genres'].str.split('|')
most_popular_genres = most_popular_genres.explode('genres')
most_popular_genres = most_popular_genres['genres'].value_counts()
most_popular_genres.index[0]

'Drama'

ВАРИАНТ 2

In [107]:
# Решим через lambda функцию
data_11 = data.copy() 
data_11['genres'] = data_11['genres'].apply(lambda x:str(x).split('|'))
data_11.genres.explode().value_counts().index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [108]:
answers['12'] = '1. Drama' #+

data_12 = data.copy()
data_12['genres'] = data_12['genres'].str.split('|')
data_12 = data_12.explode('genres')
data_sorted = data_12[data_12.profit > 0]
data_sorted.groupby(['genres'])['profit'].count().sort_values(ascending=False)

genres
Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: profit, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [109]:
answers['13'] = '5. Peter Jackson' #+

data_13 = data.copy()
data_13['director'] = data_13['director'].str.split('|')
data_13_exploded = data_13.explode('director')
max_profit_director = data_13_exploded.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
max_profit_director.index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [110]:
answers['14'] = '3. Robert Rodriguez' #+

data_14 = data.copy()
data_14['director'] = data_14['director'].str.split('|')
data_14 = data_14.explode('director')

data_14['genres'] = data_14['genres'].str.split('|')
data_14 = data_14.explode('genres')
data_14[data_14['genres'] == 'Action'].director.value_counts().sort_values(ascending=False)

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Adam McKay            1
Phil Joanou           1
DJ Pooh               1
Taylor Hackford       1
Jonathan Hensleigh    1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [111]:
answers['15'] = '3. Chris Hemsworth' #+
data_15 = data.copy()
data_15 = data_15[(data_15['release_year'] == 2012)]
data_15['cast'] = data_15['cast'].str.split('|')
data_15 = data_15.explode('cast')
data_15.groupby('cast')['revenue'].sum().sort_values(ascending=False).head(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

Примечание: в фильмах, где бюджет выше среднего по данной выборке.

In [112]:
answers['16'] = '3. Matt Damon' #+
data_16 = data.copy()
data_16['cast'] = data_16['cast'].apply(lambda x: x.split('|'))
data_16 = data_16.explode('cast')
data_16[data_16['budget'] > data_16['budget'].mean()]['cast'].value_counts(ascending=False).head(1)

Matt Damon    18
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [113]:
answers['17'] = '2. Action' #+
data_17 = data.copy()
data_17['cast'] = data_17['cast'].apply(lambda x: x.split('|'))
data_17 = data_17.explode('cast')

data_17['genres'] = data_17['genres'].apply(lambda x: x.split('|'))
data_17 = data_17.explode('genres')
data_17[data_17['cast'] == 'Nicolas Cage']['genres'].value_counts(ascending=False).head(1)

Action    17
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [114]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' #+
data_18 = data.copy()
data_18['profit'] = data_18['revenue']-data_18['budget']

data_18['production_companies'] = data_18['production_companies'].apply(lambda x: x.split('|'))
data_18 = data_18.explode('production_companies')

data_18_Paramount_Pictures = data_18[data_18['production_companies'] =='Paramount Pictures']
data_18_Paramount_Pictures[data_18_Paramount_Pictures['profit'] == data_18_Paramount_Pictures['profit'].min()]['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [115]:
answers['19'] = '5. 2015' #+
data_19 = data.copy()
data_19.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [116]:
answers['20'] = '1. 2014' #+
data_20 = data.copy()
data_20['profit'] = data_20['revenue']-data_20['budget']

data_20['production_companies'] = data_20['production_companies'].str.split('|')
data_20 = data_20.explode('production_companies')

data_20 = data_20[data_20['production_companies'].str.contains('Warner Bros')]
data_20.groupby('release_year')['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2292949646
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [117]:
answers['21'] = '4. Сентябрь' #+
data_21 = data.copy()
data_21.release_date = data_21.release_date.str.split('/')

data_21['release_month'] = data_21['release_date'].apply(lambda x: x[0])
data_21.release_month.value_counts().head(1)

9    227
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [118]:
answers['22'] = '2. 450' #+
data_22 = data.copy()
data_22.release_date = data_22.release_date.str.split('/')
data_22['release_month'] = data_22['release_date'].apply(lambda x: x[0])
df_summer = data_22[data_22['release_month'].isin(['6','7','8'])]
len(df_summer.release_month)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [119]:
answers['23'] = '5. Peter Jackson' #+
data_23 = data.copy()

data_23.release_date = data_23.release_date.str.split('/')
data_23.director = data_23.director.str.split('/')
data_23 = data_23.explode('director')

data_23['release_month'] = data_23['release_date'].apply(lambda x: x[0])
df_winter = data_23[data_23['release_month'].isin(['12','1','2'])]
#df_winter.groupby(['director'])['revenue'].count().sort_values(ascending=False)
df_winter['director'].value_counts().index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [120]:
answers['24'] = '5. Four By Two Productions' #+
data_24 = data.copy()

data_24['production_companies'] = data_24['production_companies'].str.split('|')
data_24 = data_24.explode('production_companies')

data_24['lenght_title'] = data_24.original_title.apply(lambda x: len(x))
data_24.groupby(['production_companies'])['lenght_title'].mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [121]:
answers['25'] = '3. Midnight Picture Show' #+
data_25 = data.copy()

data_25['production_companies'] = data_25['production_companies'].str.split('|')
data_25 = data_25.explode('production_companies')

data_25['lenght_overview'] = data_24.overview.apply(lambda x: len(x))
data_25.groupby(['production_companies'])['lenght_overview'].mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [122]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' #+
data_26 = data.copy()
best_films = data_26.sort_values(by='vote_average')
display(best_films.tail(int(data_26.original_title.count()/100)).original_title)

155                          The Theory of Everything
863             The Lord of the Rings: The Two Towers
1688                              There Will Be Blood
283                                        Mr. Nobody
1191                                 12 Years a Slave
872                                       The Pianist
128                                         Gone Girl
1800                                          Memento
119                           Guardians of the Galaxy
370                                         Inception
1183                          The Wolf of Wall Street
138                          The Grand Budapest Hotel
1081    The Lord of the Rings: The Return of the King
34                                               Room
118                                      Interstellar
9                                          Inside Out
125                                The Imitation Game
599                                   The Dark Knight
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [128]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint' #+

data_27 = data.copy()

data_27['cast_comb'] = data_27.cast.str.split('|').apply(lambda x: tuple(it.combinations(sorted(x),2)))
Counter(data_27.cast_comb.values.sum()).most_common(5)

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6)]

# Submission

In [127]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '4. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [125]:
# и убедиться что ни чего не пропустил)
len(answers)

27